
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #070707; 
  color: #39ff14; 
  font-family: 'Courier New', Courier, monospace; 
  overflow: hidden; 
  height: 100vh;
  width: 100vw;
  padding: 20px;
}


.crt-text {
  text-shadow: 0 0 5px #39ff14, 0 0 10px #1a8a0a;
}


.cursor {
  display: inline-block;
  width: 10px; 
  height: 1.2em; 
  background-color: #39ff14; 
  vertical-align: bottom;
  animation: blink 1s step-end infinite; 
  margin-left: 2px;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.hidden-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}